In [28]:
#620150541 
#Data Acquisition
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv('lung cancer.csv', encoding="latin1")
df.head(10)

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
5,F,75,1,2,1,1,2,2,2,2,1,2,2,1,1,YES
6,M,52,2,1,1,1,1,2,1,2,2,2,2,1,2,YES
7,F,51,2,2,2,2,1,2,2,1,1,1,2,2,1,YES
8,F,68,2,1,2,1,1,2,1,1,1,1,1,1,1,NO
9,M,53,2,2,2,2,2,1,2,1,2,1,1,2,2,YES

In [29]:
#There are no missing values
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 GENDER                   0
AGE                      0
SMOKING                  0
YELLOW_FINGERS           0
ANXIETY                  0
PEER_PRESSURE            0
CHRONIC DISEASE          0
FATIGUE                  0
ALLERGY                  0
WHEEZING                 0
ALCOHOL CONSUMING        0
COUGHING                 0
SHORTNESS OF BREATH      0
SWALLOWING DIFFICULTY    0
CHEST PAIN               0
LUNG_CANCER              0
dtype: int64

In [30]:
#Data Transformation - Changing the categorical data into numeric
label_encoder = LabelEncoder()
df['GENDER_ENCODED'] = label_encoder.fit_transform(df['GENDER'])
df['LUNG_CANCER_ENCODED'] = label_encoder.fit_transform(df['LUNG_CANCER'])
df.drop(['GENDER', 'LUNG_CANCER'], axis=1, inplace=True)
df.head(10)

#1 is M and YES

,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,GENDER_ENCODED,LUNG_CANCER_ENCODED
0,69,1,2,2,1,1,2,1,2,2,2,2,2,2,1,1
1,74,2,1,1,1,2,2,2,1,1,1,2,2,2,1,1
2,59,1,1,1,2,1,2,1,2,1,2,2,1,2,0,0
3,63,2,2,2,1,1,1,1,1,2,1,1,2,2,1,0
4,63,1,2,1,1,1,1,1,2,1,2,2,1,1,0,0
5,75,1,2,1,1,2,2,2,2,1,2,2,1,1,0,1
6,52,2,1,1,1,1,2,1,2,2,2,2,1,2,1,1
7,51,2,2,2,2,1,2,2,1,1,1,2,2,1,0,1
8,68,2,1,2,1,1,2,1,1,1,1,1,1,1,0,0
9,53,2,2,2,2,2,1,2,1,2,1,1,2,2,1,1

In [31]:
#Removing Outliers
z_scores = np.abs((df - df.mean()) / df.std())
outliers = df[(z_scores > 3).any(axis=1)]
print("Outliers:\n", outliers)

df = df[(z_scores < 3).all(axis=1)]
df.head(10)

Outliers:
      AGE  SMOKING  YELLOW_FINGERS  ANXIETY  PEER_PRESSURE  CHRONIC DISEASE  \
22    21        2               1        1              1                2
238   38        1               2        1              1                2

     FATIGUE   ALLERGY   WHEEZING  ALCOHOL CONSUMING  COUGHING  \
22          2         2         1                  1         1
238         2         2         2                  1         2

     SHORTNESS OF BREATH  SWALLOWING DIFFICULTY  CHEST PAIN  GENDER_ENCODED  \
22                     2                      1           1               0
238                    2                      1           2               0

     LUNG_CANCER_ENCODED
22                     0
238                    1

,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,GENDER_ENCODED,LUNG_CANCER_ENCODED
0,69,1,2,2,1,1,2,1,2,2,2,2,2,2,1,1
1,74,2,1,1,1,2,2,2,1,1,1,2,2,2,1,1
2,59,1,1,1,2,1,2,1,2,1,2,2,1,2,0,0
3,63,2,2,2,1,1,1,1,1,2,1,1,2,2,1,0
4,63,1,2,1,1,1,1,1,2,1,2,2,1,1,0,0
5,75,1,2,1,1,2,2,2,2,1,2,2,1,1,0,1
6,52,2,1,1,1,1,2,1,2,2,2,2,1,2,1,1
7,51,2,2,2,2,1,2,2,1,1,1,2,2,1,0,1
8,68,2,1,2,1,1,2,1,1,1,1,1,1,1,0,0
9,53,2,2,2,2,2,1,2,1,2,1,1,2,2,1,1